.header {
  padding: 0;
  text-align: center;
}
.nav-wrapper {
  padding: 0;
}
.client-message-left-card,
.client-message-right-card {
  height: 100px;
  margin-bottom: 15px;
}
.home-content,
.home-content .right-align {
  text-align: center;
}
