/* nav */
$nav-color: #1a1a1a;

/* tabs */
$tabs-color: #d3d2d2;
$tabs-font-color: rgba(0, 0, 0, 0.7);
$tabs-active-font-color: black;
$tabs-indicator-color: black;

/* input */
$input-label-color: black;
$input-border-color: black;

/* button */
$btn-color: #222;
$btn-hover-color: rgba(0, 0, 0, 0.7);
$btn-focus-color: rgba(0, 0, 0, 0.7);

/* home */
$home-content-alternative-color: #1a1a1a;
$client-message-card-color: #d3d2d2;
$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

$bullet-color: #d3d2d2;
