.flex-s {
  display: flex;
  flex-direction: column;
}
.box-a {
  order: 3;
}
.box-b {
  order: 2;
}
.box-c {
  order: 1;
}
.content,
.blog-content {
  padding: 40px 100px !important;
}
.home-content {
  padding: 110px 100px 60px !important;
}
.nav-wrapper {
  padding: 0 !important;
}
.header {
  padding: 20px 3% 10px 100px !important;
}
.footer {
  padding: 20px 100px !important;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  padding-left: 30px;
}
// .sidenav-trigger{
//   margin-right
// }
.blog-tabs{
  padding-left:0px !important;
}
.blog-card{
  padding-top:0px !important;
}