.flex-s {
  display: flex;
  flex-direction: column;
}
.box-a {
  order: 3;
}
.box-b {
  order: 2;
}
.box-c {
  order: 1;
}
.header {
  // padding: 0 !important;
  text-align: center;
}

.nav-wrapper {
  padding: 0;
}

nav {
  height: 56px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
  line-height: 56px;
}

.footer {
  padding: 5% 15%;
}

a.brand-logo {
  padding: 0;

  img {
    height: 60px;
    width: 130px;
  }
}

.client-message-left-card,
.client-message-right-card {
  // height: 100px;
  margin-top: 15px;
}

.home-content,
.home-content .right-align {
  text-align: center;
}

.rates-card {
  text-align: center;
  margin-bottom: 0;
  height: auto;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  padding-left: 32px;
}

.collapsible-body li {
  padding: 0 10px !important;
}

.blog-tabs {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.footer .box-b,
.footer .box-c {
  margin-bottom: 10px;
}

.bubble {
  border-radius: 50% 50% 0% 0% / 20% 19% 0% 0%;
}

.white-text {
  color: #ffffff;
}

svg.waves {
  margin-top: -140px;
  position: absolute;
}

.home-content {
  &:first-child {
    margin-top: -65px;
  }
}
.blog-tabs {
  padding-left: 0px !important;
}
.home-price-time {
}
.content,
.home-content,
.blog-content {
  padding: 40px 5% !important;
}

// .client-message-left-card,
// .client-message-right-card {
//   height: unset;
// }
.contact-info {
  padding-left: 0px !important;
}
