body {
  font-family: "Arial";
}
nav {
  width: auto;
  background-color: #d3d2d2;
  height: 100px;
}
.tabs .tab a {
  color: rgba(0, 0, 0, 0.7);
}
.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: black;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.tabs .indicator {
  background-color: #000;
}
.hide-on-med-and-down>li>a {
  color: black;
}
@media only screen and (min-width: 600px) {
  .nav-wrapper {
    padding-left: 250px
  }
  .header {
    width: auto;
    height: 100px;
    background-color: #d3d2d2;
    padding: 10px 260px;
  }
  .content {
    padding: 30px 260px;
    height: 100%;
  }
  .about-desc {
    /*margin-left: 150px*/
    float: left;
    font-size: 15px;
    color: gray;
    width: 550px;
  }
}
.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.circle {
  border-radius: 50%;
  margin: 0 5px;
}
.carousel {
  height: 220px !important
}
.dropdown-content li>a, .dropdown-content li>span {
  color: black;
  font-size: 12px;
}