@import 'variables';
@import '../fonts';
@import '../margin_padding_helper_mixin';
@import 'template/fontastic';
@import 'template/style.sea';
@import 'bootstrap-custom';

nav.navbar,
nav.side-navbar ul li.active > a,
footer.main-footer {
  background: $nav-color;
}

nav.side-navbar ul li a:hover {
  background: $nav-color;
}

.content-inner section {
  padding: 15px;
}

.form-group {
  position: relative;
}

nav.side-navbar ul > li i {
  width: 30px;
}

@media (min-width: 1281px) {
  @import 'style-desktop';
}

@media (max-width: 1150px) {
  @import 'style-tablet';
}

@media (max-width: 767px) {
  @import 'style-mobile';
}
